th{
	font-family:"Gill Sans", sans-serif ;
	background-color: #FFC300;
	text-decoration:;
}
td{
	font-family: Georgia, serif;
	background-color: #FEDEDE;
}
#luis1{
	background-color: black;


}